.order {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-order {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  padding: 15px;
  border-radius: 10px;
  color: #ffffff;
  width: 350px;
}

.success-order {
  background-color: green;
}

.error-oder {
  background-color: red;
}
